.flex-container {
  min-width: 0px;
  min-height: 0px;
  display: flex;
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.icon-button.xjs-icon-button {
  border-color: var(--icon-color);
}

.k-button.k-outline {
    border-color: rgba(0, 0, 0, 0.08);
    color: inherit;
    background: none;
    box-shadow: none;
    background-image: linear-gradient(white, white);
}

.k-button-disabled {
  outline: none;
  cursor: default;
  color: gray;
  opacity: 0.2;
  -webkit-filter: grayscale(0.1);
  filter: grayscale(0.1);
  pointer-events: none;
  box-shadow: none;
}

.icon-button {
  padding: 0px 7px;
  border: 1px solid;
  border-radius: 5px;
  margin-left: var(--spacing-small);
  background-image: linear-gradient(white, white);
  background-color: white;
}