.notification-item {
  cursor: pointer;
  border-bottom: solid 1px #e5e5e5;
  display: flex;
  flex: 0 0 auto;
  padding: 10px 10px;
}

.notif-box-selected {
  background-color: #f3f3f3;
}

.notification-icon-container {
  height: 100%;
  width: 25px;
  display: inline-block;
  margin-right: 15px;
  position: relative;
}

.notification-item > * {
  vertical-align: middle;
}

.notification-item .message-container {
  display: inline-block;
  overflow: auto;
  max-width: calc(100% - 45px);
  flex: 1;
}

.message-container .date {
  padding: 2px 0;
}

.message-container .name {
  color: #929292;
  padding: 2px 0;
}

.bold {
  font-weight: bold;
}

.message-container .subject {
  color: #313131;
  font-weight: bold;
  padding: 2px 0;
  overflow: hidden;
  max-width: 144px;
}

.vertical-flex-container {
  min-width: 0px;
  min-height: 0px;
  display: flex;
  flex-direction: column;
}